.g-container {
    width: 100%;
    margin: 0 auto;
    max-width: calc(100% - #{rem(45)} * 2);

    @include breakpoint-max($desktop-width) {
        max-width: calc(100% - #{rem(45 / 2)} * 2);
    }

    @include breakpoint-max($tablet-width) {
        max-width: calc(100% - #{rem(15)} * 2);
    }
}

.g-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(20);
    background: $green;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-radius: rem(4);
    flex-shrink: 0;
}

.basket {
    margin-top: rem(6);
    text-align: center;
    color: black;

    &__wrapper {
        position: relative;
    }

    &__count {
        display: inline-block;
        position: absolute;
        top: rem(-10);
        right: rem(-9);
        width: rem(22);
        height: rem(22);
        border-radius: 50%;
        border: rem(2) solid #ffffff;
        background: $red;
        color: #ffffff;
        @include font(14, 400, 18);
        text-align: center;
    }

    &__price {
        @include font(15, 700, 0);
    }

    &__icon {
        font-size: rem(26);
    }
}