.g-container {
    width: 100%;
    margin: 0 auto;
    max-width: calc(100% - #{rem(45)} * 2);

    @include breakpoint-max($desktop-width) {
        max-width: calc(100% - #{rem(45 / 2)} * 2);
    }

    @include breakpoint-max($tablet-width) {
        max-width: calc(100% - #{rem(15)} * 2);
    }
}

.g-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(20);
    background: $green;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-radius: rem(4);
    flex-shrink: 0;
}