@import '@/assets/style/utilities/index.scss';

.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(30) 0;
    padding: rem(18) 0;
    background: $gray;

    &__text {
        @include font(25, 700);
        color: $black;
        margin-right: rem(50);

        span {
            color: $green;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        gap: rem(5);
    }

    &__input {
        width: rem(210);
        height: rem(40);
        border-radius: rem(8);
        font-size: rem(16);
        border: 1px solid $green;
        padding: 0 rem(10);

        &::placeholder {
            @include font(15, 700);
            color: rgb(182, 182, 182);
        }
    }

    @include breakpoint-max($desktop-sm-width) {
        margin-top: rem(15);

        &__text {
            display: none;
        }
    }
}