@import '@/assets/style/utilities/index.scss';

.products {
    margin: rem(30) 0;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: rem(40) rem(25);
    }

    &__empty {
        text-align: center;
        @include font(20, 700);
        color: $red;
    }

    @include breakpoint-max($desktop-width) {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include breakpoint-max($desktop-sm-width) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include breakpoint-max($mobile-width) {
        &__list {
            grid-template-columns: auto;
        }
    }
}