@import '@/assets/style/utilities/index.scss';

.skeleton {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem 1.5625rem;

    &__img {
        height: 13.75rem;
        background-color: #ebebeb;
        width: 100%;
        border-radius: 0.25rem;
        display: inline-flex;
        line-height: 1;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(90deg, #ebebeb, #f5f5f5, #ebebeb);
            transform: translateX(-100%);
            animation-name: react-loading-skeleton;
            animation-direction: normal;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    &__text {
        height: rem(50);
        margin-top: rem(8);
        background-color: #ebebeb;
        width: 100%;
        border-radius: 0.25rem;
        display: inline-flex;
        line-height: 1;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(90deg, #ebebeb, #f5f5f5, #ebebeb);
            transform: translateX(-100%);
            animation-name: react-loading-skeleton;
            animation-direction: normal;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    @keyframes react-loading-skeleton {
        100% {
            transform: translateX(100%);
        }
    }

    @media (prefers-reduced-motion) {
        .react-loading-skeleton {
            --pseudo-element-display: none;
        }
    }

    @include breakpoint-max($desktop-width) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint-max($desktop-sm-width) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-max($mobile-width) {
        grid-template-columns: auto;
    }
}