@import '@/assets/style/utilities/index.scss';

.header {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(68);
        font-weight: bold;

        &__left {
            display: flex;
            gap: rem(28);
            margin-left: rem(165);
        }

        &__link {
            color: $black;
            font-size: rem(20);
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.5;
            }
        }

        &__right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(28);

            .register {
                @include font(20, 700);
                transition: opacity 0.3s;
                color: $black;

                &:hover {
                    opacity: 0.5;
                }
            }

            .lang {
                display: flex;
                align-items: center;
                gap: rem(8);
                cursor: pointer;

                &:hover {

                    span,
                    svg {
                        opacity: 0.5;
                    }
                }

                span {
                    @include font(20, 700);
                    transition: opacity 0.3s;
                    color: $black;
                }

                &__icon {
                    font-size: rem(18);
                    transition: opacity 0.3s;
                }
            }
        }
    }

    &__mobile {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(15);
        height: rem(68);

        .register {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(5);
            color: $black;

            span {
                @include font(15, 700);
                color: $black;
            }

            &__icon {
                font-size: rem(23);
            }
        }

        .lang {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: rem(5);

            span {
                @include font(15, 700);
                color: $black;
            }
        }
    }

    .nav {
        background: $red;
        padding: rem(28) 0;

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-left: rem(300);
            font-weight: bold;
            gap: rem(10) rem(20);
        }

        &__link {
            font-size: 20px;
            color: white;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .register__dropdown {
        position: absolute;
        right: rem(-5);
        top: rem(45);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: white;
        border-radius: rem(5);
        width: rem(120);

        &__item {
            padding: rem(10);
            display: flex;
            gap: rem(10);
            align-items: center;
            @include font(18, 700);
            transition: 0.3s;

            &:hover {
                opacity: 0.4;
            }
        }
    }

    @include breakpoint-max($desktop-sm-width) {
        &__top {
            display: none;
        }

        &__mobile {
            display: flex;
        }

        .nav {
            padding: rem(20) 0;

            &__list {
                margin: 0px;
                justify-content: center;
            }

            &__item {
                border: rem(1) solid white;
                padding: rem(5);
                border-radius: rem(5);
            }

            &__link {
                font-size: rem(16);
            }
        }
    }

    @include breakpoint-max($tablet-width) {
        .nav {
            &__list {
                gap: rem(10);

            }
        }
    }
}