@import '@/assets/style/utilities/index.scss';

.logo {
    @include breakpoint-min($desktop-sm-width) {
        position: absolute;
        top: rem(40);
        left: rem(50);
    }

    a {
        width: rem(250);
        height: rem(105);
        position: relative;

        img {
            object-fit: contain;
        }
    }

    @include breakpoint-max($desktop-sm-width) {
        a {
            width: rem(90);
            height: rem(39);
        }
    }
}